﻿@{ 
    ViewBag.Title = "Posts";
}

<h1>Posts Index</h1>
<div>
    @*<p>
        <a href="@Url.RouteUrl("login")">Click here</a> to login!
    </p>*@
    <!--
        Esta es otra manera de como hacer un link
    -->
    @*<p>
        @Html.RouteLink("Click here", "login") to login!
    </p>*@
</div>
@section Scripts
{
    <script>
        //alert("Hi everyone");
    </script>
}