﻿@model SimpleBlog.ViewModels.AuthLogin

@{ 
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    if (Html.ValidationSummary().ToString().Contains("validation-summary-errors"))
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Validaciones</strong>
            @Html.ValidationSummary()
        </div>
    }

    <div>
        @Html.LabelFor(x => x.Username)
        @Html.EditorFor(x => x.Username)
    </div>
    <div>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
    </div>
    <div>
        <input type="submit" class="btn btn-success" value="Login" />
    </div>
}