﻿@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        @*Se cargar los styles que vienen desde el archivo BundleConfig.cs*@
        @Styles.Render("~/styles")
        <title>@ViewBag.Title - Simple Blog</title>
    </head>
    <body>
        <div class="container">
            <header>
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="@Url.RouteUrl("home")">Simple Blog</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Link</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("admin"))
                                    {
                                        @*<li>@Html.ActionLink("Posts", "index", "posts", new { area = "admin" }, new {})</li>
                                        <li>@Html.ActionLink("Users", "index", "users", new { area = "admin" }, new {})</li>*@
                                        <li><a href="@Url.Action("index", "posts", new { area="admin" })">Posts</a></li>
                                        <li><a href="@Url.Action("index", "users", new { area="admin" })">Users</a></li>
                                    }
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.RouteUrl("account")">Account</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="@Url.RouteUrl("logout")">Logout</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li><a href="@Url.RouteUrl("login")">Login</a></li>
                                }
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </header>
            <!--INSERT VIEW HERE-->
            @RenderBody()
            <footer class="footer">
                <div class="container">
                    <p class="text-muted">&copy; @DateTime.UtcNow.Year - Me</p>
                </div>
            </footer>
            @*Se cargar los scripts que vienen desde el archivo BundleConfig.cs*@
            @Scripts.Render("~/scripts")
            @RenderSection("Scripts", false)
        </div>
    </body>
</html>
